<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Welcome to iThink </title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet"  href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/layuiJs/search.js"></script>
    <script type="text/javascript" src="/layuiJs/htmlEscape.js"></script>
    <script type="text/javascript" src="/layuiJs/getData.js"></script>
    <script type="text/javascript" src="/layuiJs/chatRoom.js"></script>
    <script type="text/javascript" src="/layuiJs/getIdeaFunction.js"></script>
    <script type="text/javascript" src="/layuiJs/getTime.js"></script>
    <link rel="stylesheet"  href="/css/mainComment.css">
    <style>
        .layui-layout-body{
            min-width: 800px;
            min-height: 300px;
        }
        .ul1{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .layui-body .layui-tab .layui-tab-content .layui-tab-item .layui-elem-field{
            border-color: #0c0c0c;
        }
    </style>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin" style="width: 125%;margin: auto">
    <div class="layui-header" style="background-color: #000000d4">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <img src="/img/商标small.png" alt="">
            </li>

            <li class="layui-nav-item">
                <a href="/main">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="/user#userDemo=userReleaseIdea">发布创意</a>
            </li>
            <li class="layui-nav-item">
                <a href="/user#userDemo=userIdeasCapsules">创意胶囊</a>
            </li>
            <li class="layui-nav-item" style="margin-left: 10px;">
                <label>
                    <input type="text" placeholder="搜索内容" class="layui-input" id="search-input"/>
                </label>
            </li>
            <li class="layui-nav-item" style="margin-left: 3px;">
                <a class="layui-icon" id="search" data-type="searchInfo"  style="font-size: 23px;">&#xe615;</a>
            </li>
            <li class="layui-nav-item">
                <a href="user#userDemo=userNotices" class="layui-icon" style="font-size: 23px; ">&#xe667;</a>
            </li>
            <li class="layui-nav-item">
                <a  onclick="hideDot('item')"><img src="/img/头像small.png" id="userImg" class="layui-nav-img" alt=""><b id="userName">我</b></a>
                <dl class="layui-nav-child">
                    <dd><a href="/user#userDemo=userInfo">个人中心</a></dd>
                    <dd><a href="/user#userDemo=userNotices" onclick="hideDot('item');hideDot('child')">我的通知<span id="notify-dot-child" class="layui-badge-dot" style="display:none;" status="hidden" /></a></dd>
                    <dd><a href="/user#userDemo=userIdeas">我的创意</a></dd>
                    <dd><a href="/user#userDemo=userGroups">我的团组</a></dd>
                    <dd><a href="/user/logout">退出</a></dd>
                </dl>
            </li>
            <span id="notify-dot-item" class="layui-badge-dot" style="display:none;" status="hidden" />
        </ul>
    </div>


    <div class="layui-body" style="background-color: #eeeeee;left: 0%">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="mainTab">
            <ul class="layui-tab-title ul1">
                <li class="layui-this refreshData1">创意推荐</li>
                <li class="refreshData2">热搜榜</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" id="layui-tab-1" lay-id="lay-main-1">
                    <div ><button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="refreshIdeas"><i class="layui-icon">&#xe669;刷新</i></button></div >
                    <div class="ideaList" style="width:80%;left:10%;right: 10%;position: relative">
                        <div style="padding: 15px;">
                        </div>
                    </div>
                    <div class="viewIdea viewIdea-empty">
                    </div>
                </div>

                <div class="layui-tab-item" id="layui-tab-2">
                    <div class="sortIdeaList" style="width:80%;left:10%;right: 10%;position: relative">
                    </div>
                    <div class="viewIdea viewSortIdea-empty">
                    </div>
                    <div id="cutPage"></div>
                </div>

                <div class="layui-tab-item" style="width:80%;left:10%;right: 10%;position: relative">
                    <div class="test">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="layui-footer" style="left: 0%">
        <!-- 底部固定区域 -->
        @iThink版权所有
    </div>
</div>


<script>
    layui.config({
        base: '/layuiJs/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use('main'); //加载入口
</script>
</body>
</html>