<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Welcome to iThink </title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet"  href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/layuiJs/search.js"></script>
    <script type="text/javascript" src="/layuiJs/getData.js"></script>
    <script type="text/javascript" src="/layuiJs/chatRoom.js"></script>
    <link rel="stylesheet"  href="/css/mainComment.css">
    <style>
        .layui-layout-body{
            min-width: 800px;
            min-height: 300px;
        }
    </style>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin" style="width: 125%;margin: auto">
    <div class="layui-header" style="background-color: #1C1C1C">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <img src="/img/商标small.png" alt="">
            </li>

            <li class="layui-nav-item">
                <a href="/main">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="">发现</a>
            </li>
            <li class="layui-nav-item">
                <a href="">合作</a>
            </li>
            <li class="layui-nav-item" style="margin-left: 10px;">
                <label>
                    <input type="text" placeholder="搜索内容" class="layui-input" id="search-input"/>
                </label>
            </li>
            <li class="layui-nav-item" style="margin-left: 3px;">
                <a class="layui-icon" id="search" data-type="searchInfo"  style="font-size: 23px;">&#xe615;</a>
            </li>
            <li class="layui-nav-item">
                <a href="user#userDemo=userNotices" class="layui-icon" style="font-size: 23px; ">&#xe667;</a>
            </li>
            <li class="layui-nav-item">
                <a href="/user#userDemo=userInfo"><img src="/img/头像small.png" id="userImg" class="layui-nav-img" alt=""><b id="userName">我</b></a>
                <dl class="layui-nav-child">
                    <dd><a href="/user#userDemo=userInfo">个人中心</a></dd>
                    <dd><a href="/user#userDemo=userNotices">我的通知</a></dd>
                    <dd><a href="/user/logout">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side" style="background-color: #696969">
        <div class="layui-side-scroll">
            <!--左侧导航区域-->
            <ul class="layui-nav layui-nav-tree"  lay-filter="operation"  style="background-color: #696969">
                <li class="layui-nav-item"><a href="/user#userDemo=userReleaseIdea">发布创意</a></li>
                <li class="layui-nav-item"><a href="/user#userDemo=userIdeas">我的创意</a></li>
                <li class="layui-nav-item"><a href="/user#userDemo=userIdeasCapsule">创意胶囊</a></li>
                <li class="layui-nav-item"><a href="/user#userDemo=userGroups">我的团组</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background-color: #FFFFF0;">
        <!-- 内容主体区域 -->
        <div class="" style="position: relative"></div>
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">创意推荐</li>
                <li>热搜榜</li>
                <!--<li>测试div</li>-->
                <li>聊天室</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div ><button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="refreshIdeas"><i class="layui-icon">&#xe669;刷新</i></button></div >
                    <div id="ideaList">
                        <div style="padding: 15px;">
                        </div>
                    </div>
                    <div id="viewIdea">

                    </div>
                </div>

                <div class="layui-tab-item">
                    <div id="viewSortIdeaList">

                    </div>
                    <div id="cutPage"></div>
                </div>

                <div class="layui-tab-item">
                    <div class="test">

                    </div>
                </div>

                <!--<div class="layui-tab-item">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>创意详情</legend>
                    </fieldset>
                    <div class="layui-col-md12">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="ret"><i class="layui-icon">&#xe65c;返回</i></button>
                        <div class="layui-card">
                            <div class="layui-card-header">创意标题</div>
                            <div class="layui-card-body">
                                创意内容，你值得拥有！
                            </div>
                        </div>
                        <p style="text-align: right">
                            <a><i class="layui-icon">&#xe770;用户名</i></a>
                            <a><i class="layui-icon">&#xe637;日期</i></a>
                            <a><i class="layui-icon">&#xe6c6;顶一个</i></a>
                            <a><i class="layui-icon">&#xe6c5;踩一下</i></a>
                            <a><i class="layui-icon layui-icon-rate"></i>收藏</a>
                            <a class="comment-idea"><i class="layui-icon">&#xe611;评论</i></a>
                        </p>

                        <div class="releaseIdeaArticle">
                            <div style="width: 60%; position: relative; left:20%;margin-top: 30px">
                                <textarea id="releaseIdeaArticleContent" style="display: none;"></textarea>
                            </div>
                            <div style="text-align: center">
                                <button type="button" class="layui-btn layui-btn-primary releaseIdeaArticleButton">发布创意实现</button>
                            </div>
                        </div>

                        <div class="idea_achievements" style="width: 95%; position: relative; left:5%;">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                <legend>创意实现1</legend>
                            </fieldset>
                            <div class="layui-card idea_achievement1">
                                <div class="layui-card-header  idea_achievement_title1">创意实现1标题</div>
                                <div class="layui-card-body  idea_achievement_content1">
                                    创意实现1内容
                                </div>
                            </div>
                            <div class="idea_achievement_comment1">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入评论内容" autocomplete="off" class="layui-input  idea-comment-content idea_achievement_comment_content1">
                                <p style="text-align: right"><button type="button" class="layui-btn layui-btn-primary  idea-comment-button idea_achievement_comment_button1">发布评论</button></p>
                                <div class="idea_achievement_comment_list1">
                                    <h3 >全部评论</h3>
                                    <hr>
                                    <div class="comment idea_achievement_comment_user_list1">
                                        <div class="imgdiv"><img class="imgcss idea_achievement_comment_user1" src="/img/头像.png"/></div>
                                        <div class="conmment_details">
                                            <span class="comment_name idea_achievement_comment_user_name1">大白 </span>     <span class="idea_achievement_comment_user_time1">22分钟前</span>
                                            <div class="comment_content idea_achievement_comment_user_content1">  感觉林丹越来越帅了，好棒</div>
                                            <div class="del">
                                                <i class="icon layui-icon layui-icon-praise  idea_achievement_comment_user_good1">赞(164)</i>
                                                <a class="del_comment" data-id="1"><i class="icon layui-icon">回复</i></a>
                                            </div>
                                            <div class="idea_achievement_comment_reply1">

                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        @iThink版权所有
    </div>
</div>


<script>
    layui.config({
        base: '/layuiJs/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use('main'); //加载入口
</script>
</body>
</html>