<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <title>Welcome to iThink </title>
    <link rel="stylesheet" href="css/main.css">


</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbarImg">
            <img src="img/商标.png" alt="">
        </div>
        <div class="navbarContent">

            <ul>
                <li>首页</li>
                <li>发现</li>
                <li>合作</li>
            </ul>

            <div class="divInput">
                <label>
                    <input type="text" id="search-input" placeholder="输入搜索内容" />
                </label>
                <img id="search" src="img/搜索.png" alt="">
            </div>

            <div class="divIcon">
                <button class="find" style="outline:none">寻找点子</button>
                <img src="img/think.png" alt="">
                <img src="img/头像.png" id="user" alt="">
                <a id="out" style="
                display: inline;
                font-size: 15px;
            " href="/user/logout">退出</a>
            </div>
        </div>

    </div>
    <div class="content" id="ideaContent">
        <div class="left" id="ideaList">

        </div>
        <div class="right">
            <div class="R-top">
                <div>
                    <img src="img/胶囊.png" id="idea" alt="">
                    <p>&nbsp&nbsp创意</p>
                </div>
                <div>
                    <img src="img/论坛.png" alt="">
                    <p>&nbsp&nbsp论坛</p>
                </div>
                <div>
                    <img src="img/微赫房间.png" alt="">
                    <p>我的房间</p>
                </div>
            </div>
            <div class="R-down"></div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/loadIdeasAjax.js"></script>
<script src="js/main.js"></script>
</html>