<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/layuiJs/chatRoom.js"></script>

</head>
<body>
<div id="result"></div>
<script type="text/javascript">
    //需要判断浏览器支不支持，可以去w3c进行查看

    // var source = new EventSource('/notify?id=1');
    // source.onmessage = function (event) {
    //     console.info(event.data);
    //     var node = document.createTextNode(event.data);
    //     var ele = document.createElement("div");
    //     ele.append(node);
    //     document.getElementById('result').append(ele);
    // };

    // var source = new EventSource('/notify?id=1');
    // source.onmessage = function (event) {
    //     console.info(event.data);
    //     var node = document.createTextNode(event.data);
    //     var ele = document.createElement("div");
    //     ele.append(node);
    //     document.getElementById('result').append(ele);
    // };

    // 聊天室调用方法


    // 1、直接获取元素(不推荐)
    //var chatRoom = new ChatRoom(1);
    //var element = chatRoom.getElement();
    //$("body").append(element);


    // 2、调用内部方法设置父元素（推荐使用body）
    var chatRoom = new ChatRoom(1);
    chatRoom.appendTo("body")
</script>
</body>
</html>