<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创意详情</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/layui/getIdeaFunction.js" charset="utf-8"></script>
</head>
<body>
<div class="viewIdea">

</div>
<script>
    layui.config({
        base: '/layuiJs/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use('viewIdea'); //加载入口
</script>
</body>
</html>