<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创意详情</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/layuiJs/htmlEscape.js"></script>
    <script type="text/javascript" src="/layuiJs/getData.js"></script>
    <script type="text/javascript" src="/layuiJs/getIdeaFunction.js"></script>
    <script type="text/javascript" src="/layuiJs/getTime.js"></script>
    <style>
        body{
            background-color: #fffff0;
        }
        .imgdiv{
            margin:10px auto
        }
        .imgdiv img{
            width:50px;
            height:50px;
            border-radius:50%
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin" style="width: 125%;margin: auto">
    <div class="layui-header" style="background-color: #1C1C1C">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <img src="/img/商标small.png" alt="">
            </li>
            <li class="layui-nav-item">
                <img style="margin-left: 1em;" src="/img/头像small.png" id="userImg" class="layui-nav-img" alt=""><b id="userName">我</b>
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="/user#userDemo=userInfo">个人中心</a></dd>-->
<!--                    <dd><a href="/user#userDemo=userNotices">我的通知</a></dd>-->
<!--                    <dd><a href="/user/logout">退出</a></dd>-->
<!--                </dl>-->
            </li>
        </ul>
    </div>
</div>

<div class="viewIdea">

</div>

<div class="ideaList">

</div>
<script>
    layui.config({
        base: '/layuiJs/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use('viewIdea'); //加载入口
</script>
</body>
</html>